<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="sk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Stefan Korecko" />
    <link rel="stylesheet"
          href="/css/gamestudio.css"
          media="screen" />


    <title>GameStudio - Kamene</title>
</head>
<body>

<!--Titulok s nazvom hry-->
<h2>Kamene</h2>

<!--Funkcia na spustenie novej hry-->
<div class="minesControl">

    <a  class="abutton" href="/kamene/new">Nova hra</a>
    <a  class="abutton" href="/kamene/up">HORE</a>
    <a  class="abutton" href="/kamene/down">DOLE</a>
    <a  class="abutton" href="/kamene/right">DOPRAVA</a>
    <a  class="abutton" href="/kamene/left">DOĽAVA</a>

</div>

<!--Vypis herneho pola-->
<div>
    <table class='minefield'>
        <tr th:each="row: ${kameneField}">
            <td th:each="tile: ${row}">
                <span th:text="${@kameneController.getTileText(tile)}"></span>
            </td>
        </tr>
    </table>
</div>

<!--Vypis tabulky bestScores-->
<section>
    <table class="scores">
        <h3>Najlepšie skóre</h3>
        <tr>
            <th>Poradie</th>
            <th>Meno</th>
            <th>Body</th>
            <th>Dátum a čas hry</th>
        </tr>
        <tr th:each="score: ${bestScores}">
            <td th:text="${scoreStat.index+1}"></td>
            <td th:text="${score.userName}"></td>
            <td th:text="${score.points}"></td>
            <td th:text="${score.playedOn}"></td>
        </tr>
    </table>
</section>

</body>
</html>