<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layoutGamestudio.html}"
        lang="sk">
<head>
<!--    <meta charset="UTF-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <meta name="author" content="Stefan Korecko" />-->
<!--    <link rel="stylesheet"-->
<!--          href="/css/gamestudio.css"-->
<!--          media="screen" />-->


    <title>GameStudio - Minesweeper</title>
</head>

<body>

<main layout:fragment="content">


    <!--Titulok s nazvom hry-->
    <h2>Minesweeper</h2>

    <!--Funkcie na switch medzi otv./ozn. a funkcia na spustenie novej hry-->
    <div class="minesControl">
        <span id="gameStatus"></span>

        <button type="button" id="btToOpenOrMark" class="abutton" onclick="processModeChangeClick()">Na otváranie</button>
        <button type="button" id="btNewGame" class="abutton" onclick="processNewGameClick()">Nová hra</button>
    </div>

    <!--Vypis herneho pola-->
    <!--The href attribute specifies the link's destination-->
    <section id="minesweeperField">

    </section>

    <!--Vypis tabulky bestScores-->
    <section>
        <h3>Najlepšie skóre</h3>
        <table class="scores">
            <thead>
            <tr>
                <th>Poradie</th>
                <th>Meno</th>
                <th>Body</th>
                <th>Dátum a čas hry</th>
            </tr>
            </thead>
            <tbody id="scoresTableBody">

            </tbody>
        </table>
    </section>

    <!--Pridanie komentaru k hre-->
    <form id="commentForm">
        <label for="comment"> Komentár k hre: </label>
        <input id="comment" type="text" name="comment" maxlength="1000"/> <br/>
        <button id="commentSubmit" type="submit"> Uložiť komentár </button>
    </form>

    <!--Vypis tabulky Comments-->
    <section>
        <h3>Posledných 5 komentárov</h3>
        <table class="scores">
            <thead>
            <tr>
                <th>Poradie</th>
                <th>Meno</th>
                <th>Komentár</th>
                <th>Dátum a čas komentára</th>
            </tr>
            </thead>
            <tbody id="commentsTableBody">

            </tbody>
        </table>
    </section>

    <br>

    <!--Vypis tabulky ratings-->
    <section>
        <table class="scores">
            <thead>
            <tr>
                <th>Priemerné hodnotenie hry</th>
            </tr>
            </thead>
            <tbody id="avgRatingTableBody" align="center">

            </tbody>
        </table>
    </section>

    <script type="text/javascript">

    const viewElements = {
        minesweeperField:   document.getElementById("minesweeperField"),
        scoresTableBody:    document.getElementById("scoresTableBody"),
        commentsTableBody:  document.getElementById("commentsTableBody"),
        avgRatingTableBody: document.getElementById("avgRatingTableBody"),
        btToOpenOrMark:     document.getElementById("btToOpenOrMark"),
        gameStatus:         document.getElementById("gameStatus")
    }

    fetchAndRenderBestScores("/api/score/minesweeper",viewElements);

    fetchAndRenderComments("/api/comment/minesweeper",viewElements);

    fetchAndRenderAvgRating("/api/rating/minesweeper",viewElements);

    fetchGameFieldAndRenderAll("/minesweeper/json",viewElements);


    function processTileClick(row,col){
        fetchGameFieldAndRenderAll(
            `/minesweeper/json?row=${row}&column=${col}`,
            viewElements);
    }

    function processNewGameClick(){
        fetchGameFieldAndRenderAll(
            `/minesweeper/jsonnew`,
            viewElements);
    }

    function processModeChangeClick(){
        fetchGameFieldAndRenderAll(
            `/minesweeper/jsonmark`,
            viewElements);
    }

    function fetchAndRenderBestScores(getJsonUrl,viewElements) { //nacitanie bestscores a vlozenie do elementu scorestablebody

        fetch(getJsonUrl)  //there may be a second parameter, an object wih options, but we do not need it now.
            .then(response => {      //fetch promise fullfilled (operation completed successfully)
                if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                    return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                } else { //if we get server error
                    return Promise.reject(new Error(`Best scores acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                }
            })
            .then(bestScoresData => { //here we process the returned response data in JSON ...
                renderBestScores(bestScoresData, viewElements);
            })
            .catch(error => { ////here we process all the failed promises
                errorMessage = "Nepodarilo sa získať alebo vykresliť údaje o najlepších skóre. Podrobnosti: " + error;
                viewElements.scoresTableBody.innerHTML =errorMessage;
            });
    }

    function fetchAndRenderComments(getJsonUrl,viewElements) {

        fetch(getJsonUrl)  //there may be a second parameter, an object wih options, but we do not need it now.
            .then(response => {      //fetch promise fullfilled (operation completed successfully)
                if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                    return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                } else { //if we get server error
                    return Promise.reject(new Error(`Last 5 comments acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                }
            })
            .then(commentsData => { //here we process the returned response data in JSON ...
                renderComments(commentsData, viewElements);
            })
            .catch(error => { ////here we process all the failed promises
                errorMessage = "Nepodarilo sa získať alebo vykresliť údaje o komentároch. Podrobnosti: " + error;
                viewElements.commentsTableBody.innerHTML =errorMessage;
            });
    }

    function fetchAndRenderAvgRating(getJsonUrl,viewElements) {

        fetch(getJsonUrl)  //there may be a second parameter, an object wih options, but we do not need it now.
            .then(response => {      //fetch promise fullfilled (operation completed successfully)
                if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                    return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                } else { //if we get server error
                    return Promise.reject(new Error(`Average rating acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                }
            })
            .then(avgRatingData => { //here we process the returned response data in JSON ...
                renderAvgRating(avgRatingData, viewElements);
            })
            .catch(error => { ////here we process all the failed promises
                errorMessage = "Nepodarilo sa získať alebo vykresliť údaje o priemernom hodnotení. Podrobnosti: " + error;
                viewElements.avgRatingTableBody.innerHTML = errorMessage;
            });
    }

    function fetchGameFieldAndRenderAll(getJsonUrl,viewElements) {

        fetch(getJsonUrl)  //there may be a second parameter, an object wih options, but we do not need it now.
            .then(response => {      //fetch promise fullfilled (operation completed successfully)
                if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                    return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                } else { //if we get server error
                    return Promise.reject(new Error(`Game field acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                }
            })
            .then(gameFieldData => { //here we process the returned response data in JSON ...


                const newStatusMessage=getGameStatusMessage(gameFieldData);
                if(viewElements.gameStatus.innerHTML != newStatusMessage){
                    viewElements.gameStatus.innerHTML=newStatusMessage;
                }

                let newBtLabel="Na označovanie";
                if(gameFieldData.marking){
                    newBtLabel="Na otváranie";
                }
                if(viewElements.btToOpenOrMark.innerHTML!=newBtLabel){
                    viewElements.btToOpenOrMark.innerHTML=newBtLabel;
                }

                renderGameField(gameFieldData, viewElements);

                if(gameFieldData.justFinished){
                    fetchAndRenderBestScores("/api/score/minesweeper",viewElements);
                }



            })
            .catch(error => { ////here we process all the failed promises
                errorMessage = "Nepodarilo sa získať  alebo vykresliť herné pole. Podrobnosti: " + error;
                viewElements.minesweeperField.innerHTML =errorMessage;
            });
    }


    function renderBestScores(bestScoresData, viewElements) {

        const rowCount = bestScoresData.length;

        let html2Render="";

        for(row=0;row<rowCount;row++){
            html2Render+=
                `<tr>
                    <td>${row+1} </td>
                    <td>${bestScoresData[row].userName}</td>
                    <td>${bestScoresData[row].points}</td>
                    <td>${bestScoresData[row].playedOn}</td>
                 </tr>
                `;
        }
        viewElements.scoresTableBody.innerHTML=html2Render;
    }

    function renderComments(commentsData, viewElements) {
      const rowCount = commentsData.length;

      let html2Render = "";

      for(row = 0; row < rowCount; row++) {
        html2Render +=
                `<tr>
                    <td>${row+1} </td>
                    <td>${commentsData[row].userName}</td>
                    <td>${commentsData[row].comment}</td>
                    <td>${commentsData[row].commentedOn}</td>
                 </tr>
                `;
      }
      viewElements.commentsTableBody.innerHTML=html2Render;
    }

    function renderAvgRating(ratingData, viewElements) {

      let html2Render = "";

      html2Render +=
                `<tr>
                    <td>${ratingData}</td>
                 </tr>
                `;

      viewElements.avgRatingTableBody.innerHTML=html2Render;
    }

    function renderGameField(gameFieldData, viewElements){


        let html2Render="<table class='minefield'>\n";

        for(let row=0;row<gameFieldData.rowCount;row++){

            html2Render+=" <tr>\n";

            for(let col=0;col<gameFieldData.columnCount;col++){

                let onClickHandling="";

                if(gameFieldData.state=="PLAYING" && gameFieldData.tiles[row][col].state!="OPEN"){
                    onClickHandling=
                        `onclick='processTileClick(${row},${col})'`;
                }

                html2Render+=
                    `<td class='${getTileClass(gameFieldData.tiles[row][col])}' ${onClickHandling}>
                        <span>
                        ${getTileText(gameFieldData.tiles[row][col])}
                        </span>
                     </td>`;
            }

            html2Render+=" </tr>\n";
        }

        html2Render+="</table>\n";

        viewElements.minesweeperField.innerHTML=html2Render;
    }

    /**
     * Gets the text that may be displayed inside a HTML element representing 1 tile
     * Now public as it is called from the template
     * @param tile - the Tile object the text is extracted from
     * @return the text that may be displayed inside a HTML element representing the Tile tile
     */
    function getTileText(tile){
        switch (tile.state){
            case "CLOSED":
                return "-";
            case "MARKED":
                return "M";
            case "OPEN":
                if (tile.value!=undefined) {
                    return ""+tile.value;
                } else {
                    return "X";
                }
            default:
                return "?";
        }
    }

    /**
     * Gets the HTML class of the <code>td</code> element representing the tile
     * Now public as it is called from the template
     * @param tile the Tile object the class is assigned to
     * @return String with the HTML class of the <code>td</code> element representing the Tile tile
     */
    function getTileClass(tile) {
        switch (tile.state) {
            case "CLOSED":
                return "closed";
            case "MARKED":
                return "marked";
            case "OPEN":
                if (tile.value != undefined) {
                    return "open" + tile.value;
                } else {
                    return "mine";
                }
            default:
                return "unknown";
        }
    }

    function getGameStatusMessage(gameFieldData) {
        let gameStatus = "";
        if (gameFieldData.state == "FAILED") {
            gameStatus = "Prehral si";
        } else if (gameFieldData.state == "SOLVED") {
            gameStatus = "Vyhral si (skóre: " + gameFieldData.score + ")";
        } else {
            gameStatus = "Hraješ a ";
            if (gameFieldData.marking) {
                gameStatus += "označuješ";
            } else {
                gameStatus += "otváraš";
            }
        }

        return gameStatus;
    }

    </script>

</main>

</body>
</html>